{{/* vim: set filetype=mustache: */}}
{{/*
mysql customisation
*/}}
{{- define "mysql.name" -}}
{{- default "gateway-mysql" -}}
{{- end -}}

{{- define "mysql.fullname" -}}
{{- default "gateway-mysql" -}}
{{- end -}}
